.card {
    border-radius: 20px;
}

.btn-primary {
    border-radius: 20px !important;
}

.form-control {
    border-radius: 20px !important;
}

.mt-10 {
    margin-top: 0.55rem !important;
}

.fix-card-footer-border-radius {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.imagem-avatar {
    width: 100px;
    height: 80px;
}